.chat-wrapper[data-source="user"] {
    display: flex;
    justify-content: end;
    line-height: 1rem;
    padding-bottom: 10px;
}

.chat-wrapper[data-source="assistant"] {
    line-height: 1.25rem;
    padding-bottom: 20px;
}

.chat {
    font-size: 1rem;
    animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.chat-wrapper[data-source="user"] > .chat {
    max-width: 500px;
    background-color: var(--background-color-chat-human);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-color-chat-human);
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.chat-wrapper[data-source="assistant"] > .chat {
    color: var(--text-color);
    white-space: pre-line;
}

.typewriter-cursor {
    display: inline-block;
    background-color: var(--background-color-action-85-opacity);
    width: 8px;
    height: 1.2em;
    margin-left: 3px;
    vertical-align: text-top;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}
