:root {
    /* defaulting to light theme */
    /* global variables */
    --background-color: #f9f9f9;
    --text-color: #202020;
    --text-color-85-opacity: rgba(32, 32, 32, 0.85);
    --text-color-70-opacity: rgba(32, 32, 32, 0.7);
    --text-color-60-opacity: rgba(32, 32, 32, 0.6);
    --text-color-50-opacity: rgba(32, 32, 32, 0.5);
    --border-color: rgba(0, 0, 0, 0.05);

    /* components variables */
    --background-color-prompt: #f0f0f0;
    --background-color-side-panel-active: #e3e3e3;
    --background-color-button-active: #202020;
    --background-color-button-inactive: rgba(32, 32, 32, 0.3);
    --background-color-action-active: #202020;
    --background-color-action-85-opacity: rgba(32, 32, 32, 0.85);
    --background-color-action-60-opacity: rgba(32, 32, 32, 0.6);

    /* shared variables */
    --background-color-chat-human: #122f29;
    --background-color-button-prompt: #007961;
    --text-color-chat-human: #f9f9f9;
    --background-color-indicator-great: #007961;
    --background-color-indicator-ok: #796100;
    --background-color-indicator-bad: #79001e;
}

[data-theme="dark"] {
    /* global variables */
    --background-color: #202020;
    --text-color: #f9f9f9;
    --text-color-85-opacity: rgba(249, 249, 249, 0.85);
    --text-color-70-opacity: rgba(249, 249, 249, 0.7);
    --text-color-50-opacity: rgba(249, 249, 249, 0.5);
    --border-color: rgba(255, 255, 255, 0.05);

    /* components variables */
    --background-color-prompt: #2f2f2f;
    --background-color-side-panel-active: #181818;
    --background-color-button-active: #f9f9f9;
    --background-color-button-inactive: rgba(249, 249, 249, 0.3);
    --background-color-action-active: #f9f9f9;
    --background-color-action-85-opacity: rgba(249, 249, 249, 0.85);
    --background-color-action-60-opacity: rgba(249, 249, 249, 0.6);
}
