.layout-wrapper {
    display: grid;
    grid-template-columns: auto 1fr 700px 1fr;
    height: 100%;
    background-color: var(--background-color);
    transition:
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.layout-wrapper[data-sidebar="expanded"] {
    grid-template-columns: auto 1fr 700px 1fr;
}

.main-wrapper {
    grid-column: 3;
}
