.quick-actions-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    color: var(--background-color-action-85-opacity);
}

.quick-actions-theme:hover {
    cursor: pointer;
}

.quick-actions-language {
    font-size: 0.875rem;
}
